html, body {
    background-color: pink;
}
#goBack {
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 10;
    padding: 24px;
    font-size: 20px;
    border-radius: 30px;
    background-color: black;
    color: rgb(58, 76, 218);
    border: 1px solid rgb(31, 45, 151);
    font-weight: bold;
}
#goBack:hover{
    border: 1px solid #bc76d3;
    background-color: #001041;
    color: rgb(255, 175, 255);
}
iframe{
    width: 100%;
    background-color: pink;
    padding-top: 90px;
}